.container{
    width: 1100px;
    margin: auto;
}
.header{
    background-color: #213b52;
    height: 60px;
    padding-bottom: 20px;

}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .header-logo{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    font-family: "Poppins", sans-serif;
}
.header-wrapper .header-logo span{
    color: #fcc133;
}
.header-navigation ul li a{
    text-decoration: none;
    color: #adc7de;
    font-family: "poppins", sans-serif;
}
.header-navigation ul li a:hover{
    width: 100%;
    color: white;
}
.get-s{
    border-radius: 10px;
    color: white;
    border: 2px solid #fcc133;
    padding: 3px 10px 3px 10px;
    background-color: #213b52;
}
.get-s:hover{
    background: #fcc133;
}
.nav-items{
    display: inline;
    padding: 15px;
}
.banner{
    background-color: #213b52;
    height: 90vh;
    align-items: center;
    padding-top: 10px;
}
.banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 50%;
    font-family: "poppins", sans-serif;
    color: white;
}
.banner-content .head{
    font-size: 45px;
    color: #adc7de;
}
.banner-content .para{
    font-size: 20px;
    color: #adc7de;
}
.banner-content .gets{
    color: #213b52;
    border-radius: 50px;
    border: 2px solid #fcc133;
    background: #fcc133;
    font-size: 20px;
    padding: 6px 15px 6px 15px;
}
.banner-content .gets:hover{
    background: transparent;
    color: white;
}
.banner-image-area{
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}
.banner-image{
    width: 93%;
    float: right;
}
.clients{
    background-color: white;
    padding: 0;
}
.clients-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    
}
.clients-wrapper .cli-img{
    height: auto;
    width: 100px;
}
.about{
    background-color: whitesmoke;
    padding: 35px 0px 35px 0px;
}
.about-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-container{
    text-align: left;
    width: 54%;
}
.about-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-text{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #213b52;
}
.abt-h{
    font-size: 30px;
}
.about-box{
    color: black;
    text-align: left;

}
.box{
    text-decoration: none;
    color: #213b52;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}
.box:hover{
    color: #fcc133;
    

}
.about-img{
    width: 43%
}
.about-img .ab-img{
    width: 100%;
    height: 400px;
}
.service{
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding-bottom: 20px;

}
.service-text{
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    color: #213b52;
}
.hs{
    font-size: 28px;
    color: #213b52;
}
.service-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.service-card .card1{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    width: 400px;
    height: 250px;
    background-image: url(/images/services-1.jpg);
    
}
.service-card .card2{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    width: 400px;
    height: 250px;
    background-image: url(/images/services-2.jpg);
}
.service-card .card3{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    width: 400px;
    height: 250px;
    background-image: url(/images/services-3.jpg);
}
.service-card .card4{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    width: 400px;
    height: 250px;
    background-image: url(/images/services-4.jpg);
}
.c1{
    text-decoration: none;
    color: #213b52;
}
.c1:hover{
    color: #fcc133;
}
.c2{
    text-decoration: none;
    color: #213b52;
}
.c2:hover{
    color: #fcc133;
}
.c3{
    text-decoration: none;
    color: #213b52;
}
.c3:hover{
    color: #fcc133;
}
.c4{
    text-decoration: none;
    color: #213b52;
}
.c4:hover{
    color: #fcc133;
}
hr{
    color: #fcc133;
    border: 2px solid #fcc133;
    width: 60px;
    text-align: center;
}
.features{
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    padding-bottom: 20px;
}
.features-text{
    color: #213b52;
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;
}
.features-text p b{
    font-size: 25px;
}
.f-con1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-img1{
    width: 40%;
    padding-bottom: 15px;
}
.con1-txt{
    width: 57%;
    color: #213b52;
}
.con1-txt p b{
    font-size: 25px;
}
.f-con2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con2-txt{
    width: 57%;
    color: #213b52;
}
.con2-txt p b{
    font-size: 25px;
}
.f-img2{
    width: 40%;
    padding-bottom: 20px;
}
.f-con3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.f-img3{
    width: 40%;
    padding-bottom: 30px;
    padding-top: 15px;
}
.con3-txt{
    width: 57%;
    color: #213b52;
}
.con3-txt p b{
    font-size: 25px;
}
.f-con4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.con4-txt{
    width: 57%;
    color: #213b52;
}
.con4-txt p b{
    font-size: 25px;
}
.f-img4{
    width: 40%;
    padding-top: 20px;
}
.port-text{
    text-align: center;
    color: #213b52;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding-top: 25px;
}
.port-text p b{
    font-size: 25px;
}
.port-nav{
    text-align: center;
    word-spacing: 25px;
    padding-top: 10px;
}
.navp-items{
    display: inline;
}
.port-nav ul li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #213b52;
}
.port-nav ul li a:hover{
    color: #fcc133;
}
.img-cards{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.img-cards .i{
    width: 350px;
    height: 250px;
    margin: 10px 0px 7px 12px;
    border-radius: 12px;
}
.team{
    background-color: whitesmoke;
    padding-bottom: 30px;
}
.team-text{
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   color: #213b52;
   padding-bottom: 20px;
   padding-top: 15px;
}
.team-text p b{
    font-size: 25px;
}
.team-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.t-i{
    width: 250px;
    height: 270px;
}
.pricing{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pricing-txt{
    text-align: center;
    font-family: "Poppins", sans-serif;
   font-size: 16px;
   color: #213b52;
   padding-bottom: 20px;
   padding-top: 15px;
}
.pricing-txt p b{
    font-size: 25px;
}
.pricing-box{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.p-box1{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 400px;
    background-color: #f4f8fb;
    
}
.p-box2{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 400px;
    border: 2px;
    border-color:#fcc133;
    border-style: solid;
    background-color: #f4f8fb;
}
.p-box3{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 400px;
    background-color: #f4f8fb;
}
.pb-list{
    text-align: left;
    
}
.get-s1{
    border-radius: 12px;
    background-color: #213b52;
    color: white;
    width: 120px;
    padding: 3px 10px 3px 10px;
    margin-left: 25%;
}
.get-s1:hover{   
    background-color: #fcc133;
    
}
.contact{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #f4f8fb;
}
.contact-txt{
    text-align: center;
    font-family: "Poppins", sans-serif;
   font-size: 16px;
   color: #213b52;
   padding-bottom: 20px;
   padding-top: 15px;
}
.contact-txt p b{
    font-size: 25px;
}
.cont-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.c-box1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 50%;
}
.c-card1{
    width : 500px;
    height: 170px;
    text-align: center;
    background-color: white;
    margin: 20px;
}
.c-card2{
    width: 230px;
    height: 170px;
    text-align: center;
    background-color: white;
    margin: 20px;
}
.c-box2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
}
.c-box2 .form-1{
    width: 250px;
    height: 40px;
    text-align: left;
    margin: 0px 10px 20px 0px
}
.c-box2 .form-2{
    width: 250px;
    height: 40px;
    text-align: left;
    margin: 0px 0px 20px 0px;
}
.c-box2 .form-3{
    width: 520px;
    height: 40px;
    text-align: left;
    margin-bottom: 20px;
}
.c-box2 .form-4{
    width: 520px;
    height: 140px;
    text-align: left;
    margin-bottom: 20px;
}
.c-box2 .sub{
    width: 150px;
    height: 45px;
    background-color: #fcc133;
    border: none;
    color: white;
    font-size: 15px;

}
.c-box2 .sub:hover{
    background-color: #fcc170;
    
}
.footer{
    padding-top: 40px;
    padding-bottom: 25px;
    background-image: url(/images/footer-bg.jpg);
}
.footer-txt{
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   color: white;
   padding-bottom: 20px;
   padding-top: 15px;
}
.footer-txt p b{
    font-size: 27px;
} 
.email-div{
    text-align: center;
}
.email{
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding-left: 15px;
}
.submit{
    height: 40px;
    background-color: #fcc170;
    border: none;
    border-radius: 25px;
    width: 100px;
    color: white;
}
.submit:hover{
    background-color: #fcc133;
}
.footer-bottom{
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.footer-bottom span{
    color: #fcc133;
}